body{
    background-image: url('dark-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

img {
    width: 400px;
    border: 10px solid rgb(50, 48, 48);
    border-radius: 15%;
    padding: 10px;
}

a {
    display: block;
    text-align: center;
    color: lightgray;
    text-decoration: none;
    padding: 10px;
    border: 10px solid gray;
    border-radius: 25%;
    background-color: rgb(50, 48, 48);
    margin: 10px 0;
    display: inline-block;
}

h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 20px;
}

h2 {
    padding: 20px;
    margin: 10px 0;
    background-color: rgb(50, 48, 48);
    color: white;
    border-radius: 5%;
}

p {
    text-align: justify;
    font-size: 15px;
    font-family: "Rockwell", serif;
}
